form legend span, dt.required{
    color:#FE0101;
    font-style: italic;
    font-weight: bold;
}

dl.error_report{
    background: #fe0101; /* Old browsers */
    background: -moz-linear-gradient(top, #fe0101 0%, #8e0101 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0101), color-stop(100%,#8e0101)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fe0101 0%,#8e0101 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fe0101 0%,#8e0101 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fe0101 0%,#8e0101 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fe0101 0%,#8e0101 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0101', endColorstr='#8e0101',GradientType=0 ); /* IE6-9 */
    color:#fff;
    font-weight: bold;
    margin-bottom:10px;
    border-radius: 10px;
    padding:10px;
}
    dl.error_report dt{
        float:left;
        padding:0 10px;
    }

form dl.submit{
    text-align: center;
}
    form dl.submit dd{
        display: inline;
    }
    
form dl.inline dd, form dl.inline dt{
    display:inline;
}
    form dl.inline dd{
	padding-right:10px;
	padding-left:5px;
    }
    
form dd.inline{
    display:inline;	
}
    
form dl.float{
    float: left;
}

form dl.clear{
    clear:both;
}

form fieldset{
    border: 2px solid #555;
    border-radius: 10px;
    background: #fff;
    padding:10px 0;
    margin-bottom: 10px;
}
    form fieldset legend{
        border: 2px solid #555;
        margin-left: 10px;
        padding: 0 5px;
    }
    
    form dl{
        padding:0 10px;
    }
    
    form dd{
        padding-bottom: 5px;
    }
    
    form dd.block input{
        width: 99%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        form dd input[type=text]:focus, form dd input[type=password]:focus{
            background:#BAD8EB; 
        }
        form dd button[type=submit], a.button{
            color:#fff;
            font-weight: bold;
            line-height: 30px;
            border: none;
            padding:0 15px;
            margin: 0 1%;
            border-radius: 4px;
            box-shadow: 2px 2px 3px #999;
            background: #65a6d1; /* Old browsers */
            background: -moz-linear-gradient(top, #65a6d1 24%, #0a67a3 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#65a6d1), color-stop(100%,#0a67a3)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #65a6d1 24%,#0a67a3 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #65a6d1 24%,#0a67a3 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #65a6d1 24%,#0a67a3 100%); /* IE10+ */
            background: linear-gradient(to bottom, #65a6d1 24%,#0a67a3 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65a6d1', endColorstr='#0a67a3',GradientType=0 ); /* IE6-9 */
            text-decoration: none;
        }
        
        a.button{
            padding-top: 8px;
            padding-bottom: 8px;
        }
            form dd button[type=submit]:hover, a.button:hover{
                background: #1c88cc; /* Old browsers */
                background: -moz-linear-gradient(top, #1c88cc 24%, #0143a0 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#1c88cc), color-stop(100%,#0143a0)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #1c88cc 24%,#0143a0 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #1c88cc 24%,#0143a0 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #1c88cc 24%,#0143a0 100%); /* IE10+ */
                background: linear-gradient(to bottom, #1c88cc 24%,#0143a0 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c88cc', endColorstr='#0143a0',GradientType=0 ); /* IE6-9 */ /* IE6-9 */
            }
            
        /*-----------------------------------------------------------------------------*/
        @media only screen and (min-width : 0) and (max-width : 519px){
            /* Phones in portrait */
            form dd button[type=submit]{
                padding: 0;
                width:96%;
            }
        }
        /*-----------------------------------------------------------------------------*/
    
    form dd.submit{
       text-align: center;
       padding-top: 2%;
    }
    
    form .field_error input, form .field_error textarea{
        background:#FBC6C6;
    }
    